<div class="schedule">
  <div class="resources">
    <div class="resource"></div>
    <div *ngFor="let resource of resources$ | async" class="resource">{{resource.firstname}}</div>
  </div>
  <div class="schedule-board">
    <div class="title">
      <div class="title-months">
        <ng-container *ngFor="let titleMonth of months">
          <div *ngFor="let date of titleMonth.dates; index as i" class="title-month" [id]="date">
            {{ i === 0 ? (date | date: 'MMMM') : null}}
          </div>
        </ng-container>
      </div>
      <div class="title-days">
        <div *ngFor="let titleDay of dates" class="title-day">
          <span>{{titleDay | date: 'EE'}}</span>
          <span>{{titleDay | date: 'd'}}</span>
        </div>
      </div>
    </div>
    <div class="schedule">
      <ng-container *ngIf="resources$ | async as resources">
        <div *ngFor="let resource of resources; index as resourceIndex" class="resource">
          <div class="days">
            <div *ngFor="let date of dates; index as dateIndex"
                 class="day"
                 (click)="onDayClick(date, resource)">
            </div>
          </div>
        </div>
        <ng-container *ngIf="resources">
          <r-booking *ngFor="let booking of bookings$ | async" class="draggable" [booking]="booking"></r-booking>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>

