<div class="navigator">
  <button nbButton>Zurück</button>
  <span class="title">Januar</span>
  <button nbButton>Weiter</button>
</div>

<div class="container">

  <div class="sidenav">
    <div class="filter">filter</div>
    <div class="resource" *ngFor="let resource of resources">
      <nb-user name="{{resource.firstname}} {{resource.lastname}}"></nb-user></div>
  </div>



  <div class="scheduler">
    <div class="schedule-row">
      <div class="days">
        <div class="day"
             [ngClass]="{
              weekend: col.dayName === 'Sa' || col.dayName === 'Su',
              start: col.day === 1
             }"
             [attr.data-day-ident]="(y + 1)"
             *ngFor="let col of schedule, let y = index">
          <span > {{ col.dayName }}</span>
          <span > {{ col.day }}</span>
        </div>
      </div>
    </div>

    <div class="schedule-row" *ngFor="let resource of resources">
      <r-period [resource]="resource"
                [schedule]="schedule"
                [days]="days" (createBooking)="onCreate($event)"></r-period>
    </div>
  </div>


</div>
