<form (ngSubmit)="submit()" [formGroup]="registerForm">
  <div class="card-container">
    <nb-card>
      <nb-card-header><h2>Register</h2></nb-card-header>
      <nb-card-body>
        <div class="register-form-container">
          <div class="input-form">
            <label for="email" class="label">Email</label>
            <input id="email"
                   type="text"
                   nbInput
                   placeholder="Email"
                   [formControl]="email"
                   fullWidth>
          </div>
          <div class="input-form">
            <label for="username" class="label">Username</label>
            <input id="username"
                   type="text"
                   nbInput
                   placeholder="Username"
                   [formControl]="username"
                   fullWidth>
          </div>
          <div class="input-form">
            <label for="firstname" class="label">Firstname</label>
            <input id="firstname"
                   type="text"
                   nbInput
                   placeholder="Firstname"
                   [formControl]="firstname"
                   fullWidth>
          </div>
          <div class="input-form">
            <label for="lastname" class="label">Lastname</label>
            <input id="lastname"
                   type="text"
                   nbInput
                   placeholder="Lastname"
                   [formControl]="lastname"
                   fullWidth>
          </div>
          <div class="input-form">
            <label for="password" class="label">Password</label>
            <input id="password"
                   type="password"
                   nbInput
                   placeholder="Password"
                   [formControl]="password"
                   fullWidth>
          </div>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton type="submit" status="success" fullWidth [disabled]="registerForm.invalid">
          Register now
        </button>
        <span>Already have an account? <a [routerLink]="['../login']">Login</a></span>
      </nb-card-footer>
    </nb-card>
  </div>
</form>
