<div class="month-slot" #self>
  <ng-container *ngIf="componentReady">
    <div rBooking
         class="draggable"
         *ngFor="let booking of $any(resource.bookings)"
         [grid]="snapGrid"
         [period]="self"
         [booking]="booking">
    </div>
  </ng-container>

  <div class="day-slot"
       [ngClass]="{
              weekend: col.dayName === 'Sa' || col.dayName === 'Su',
              start: col.day === 1
             }"
       (click)="slotClicked($event)"
       [attr.data-date]="col.date"
       *ngFor="let col of schedule, let y = index">
    <span>{{ col.day }}</span>
  </div>
</div>
