<form (ngSubmit)="submit()" [formGroup]="loginForm">
  <div class="card-container">
    <nb-card>
      <nb-card-header>
        <h2>Login</h2>
        <div class="input-error-text" *ngIf="loginFailed"> Username or Password is incorrect! </div>
      </nb-card-header>
      <nb-card-body>
        <div class="login-form-container">
          <div class="input-form">
            <label for="username" class="label">Username</label>
            <input id="username"
                   type="text"
                   nbInput
                   placeholder="Username"
                   [formControl]="username"
                   fullWidth
                   [ngClass]="{'input-error' : loginFailed}">
          </div>
          <div class="input-form">
            <label for="password" class="label">Password</label>
            <input id="password"
                   type="password"
                   nbInput
                   placeholder="Password"
                   [formControl]="password"
                   fullWidth
                   [ngClass]="{'input-error' : loginFailed}">
          </div>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton type="submit" status="success" fullWidth [disabled]="loginForm.invalid">
          Login
        </button>
        <span>Don't have an account? <a [routerLink]="['../register']">Register</a></span>
      </nb-card-footer>
    </nb-card>
  </div>
</form>
