
.card-container {
  display: flex;
  justify-content: center;
  margin-top: 2em;

  nb-card {
    max-width: 35rem;
    width: 100%;

    .login-form-container {
      display: grid;
      row-gap: 1em;

      .input-form {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;

        .label {
          margin-bottom: 0.5em;
        }
      }

    }

    nb-card-footer {
      display: grid;
      row-gap: 1em;

      span {
        justify-self: center;
      }
    }

    .input-error-text {
      color: red;
      font-style: italic;
    }

    .input-error {
      border-color: red;
      border-width: 1px;
    }
  }


}


