nb-card {

  nb-card-body {
    display: grid;
    row-gap: 1em;

    .input-form {
      display: grid;
      width: 100%;

      .label {
        margin-bottom: 0.5em;
      }
    }
  }

  nb-card-footer {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1em;
  }
}
